{{template "base/head" .}}
<div class="repository file list">
	{{template "repo/header" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		{{if .PageIsRepoHome}}
			<p id="repo-desc">
				{{if .Repository.Description}}<span class="description has-emoji">{{.Repository.Description | NewLine2br | Str2HTML}}</span>{{else}}<span class="no-description text-italic">{{.i18n.Tr "repo.no_desc"}}</span>{{end}}
				<a class="link" href="{{.Repository.Website}}">{{.Repository.Website}}</a>
			</p>
			<div class="ui segment" id="git-stats">
				<div class="ui two horizontal center link list">
					<div class="item">
				  	<a href="{{.RepoLink}}/commits/{{EscapePound .BranchName}}"><span class="ui text black"><i class="octicon octicon-history"></i> <b>{{.CommitsCount}}</b> {{.i18n.Tr "repo.commits"}}</span> </a>
					</div>
					<div class="item">
				  	<a href="{{.RepoLink}}/branches"><span class="ui text black"><i class="octicon octicon-git-branch"></i><b>{{.BrancheCount}}</b> {{.i18n.Tr "repo.git_branches"}}</span> </a>
					</div>
					<div class="item">
				  	<a href="{{.RepoLink}}/releases"><span class="ui text black"><i class="octicon octicon-tag"></i> <b>{{.Repository.NumTags}}</b> {{.i18n.Tr "repo.releases"}}</span> </a>
					</div>
				</div>
			</div>
		{{end}}
		<div class="ui secondary menu">
			{{if .PullRequestCtx.Allowed}}
				<div class="fitted item" data-tooltip="Please note: annexed file content will not be part of a pull request">
					<a href="{{.BaseRepo.Link}}/compare/{{.BaseRepo.DefaultBranch}}...{{.PullRequestCtx.HeadInfo}}">
						<button class="ui green small button"><i class="octicon octicon-git-compare"></i></button>
					</a>
				</div>
				{{else if or .IsRepositoryWriter .HasForked}}
					<div class="fitted item"
							data-tooltip="Pull requests have been disabled for this repository" data-position="top center">
							<button class="ui disabled small button"><i class="octicon octicon-git-compare"></i></button>
					</div>
			{{end}}
			{{template "repo/branch_dropdown" .}}
			<div class="fitted item">
				<div class="ui breadcrumb">
					<a class="section" href="{{.RepoLink}}/src/{{EscapePound .BranchName}}">{{EllipsisString .Repository.Name 15}}</a>
					{{ $n := len .TreeNames}}
					{{ $l := Subtract $n 1}}
					{{range $i, $v := .TreeNames}}
						<div class="divider"> / </div>
						{{if eq $i $l}}
							<span class="active section">{{$v}}</span>
						{{else}}
							{{ $p := index $.Paths $i}}
							<span class="section"><a href="{{EscapePound $.BranchLink}}/{{EscapePound $p}}">{{$v}}</a></span>
						{{end}}
					{{end}}
				</div>
			</div>
			<div class="right fitted item">
				{{if .Repository.CanEnableEditor}}
					<div id="file-buttons" class="ui tiny blue buttons">
						{{if .CanAddFile}}
							<a href="{{.RepoLink}}/_new/{{EscapePound .BranchName}}/{{EscapePound .TreePath}}" class="ui button">
								{{.i18n.Tr "repo.editor.new_file"}}
							</a>
						{{end}}
						{{if .CanUploadFile}}
							<a href="{{.RepoLink}}/_upload/{{EscapePound .BranchName}}/{{EscapePound .TreePath}}" class="ui button">
								{{.i18n.Tr "repo.editor.upload_file"}}
							</a>
						{{end}}
					</div>
				{{end}}

				<!-- Only show clone panel in repository home page -->
				{{if eq $n 0}}
					<div class="ui action small input" id="clone-panel">
						<button class="ui basic clone button" id="repo-clone-gin" data-link="{{.CloneLink.Gin}}">
							GIN
						</button>
						{{if not $.DisableHTTP}}
							<button class="ui basic clone button" id="repo-clone-https" data-link="{{.CloneLink.HTTPS}}">
								{{if UseHTTPS}}HTTPS{{else}}HTTP{{end}}
							</button>
						{{end}}
						{{if not $.DisableSSH}}
							<button class="ui basic clone button" id="repo-clone-ssh" data-link="{{.CloneLink.SSH}}">
								SSH
							</button>
						{{end}}
						<input id="repo-clone-url" value="{{if not $.DisableHTTP}}{{$.CloneLink.HTTPS}}{{else}}{{$.CloneLink.SSH}}{{end}}" readonly >
						<button class="ui basic icon button poping up clipboard" id="clipboard-btn" data-original="{{.i18n.Tr "repo.copy_link"}}" data-success="{{.i18n.Tr "repo.copy_link_success"}}" data-error="{{.i18n.Tr "repo.copy_link_error"}}" data-content="{{.i18n.Tr "repo.copy_link"}}" data-variation="inverted tiny" data-clipboard-target="#repo-clone-url">
							<i class="octicon octicon-clippy"></i>
						</button>
						<div id="download-repo-button" class="ui basic jump dropdown icon button">
						<i class="download icon"></i>
						</div>

						<!-- Download moddal -->
						<div id="download_modal" class="ui modal warning">
							<i class="close icon"></i>
							<div class="content">
								<div class="ui header">So you want to download data without special tooling (e.g. git, git-annex or GIN)?</div>
								<p>Here is what you can do:</p>
								<p>Download the small files and the file structure as an archive (zip or tar). The big files will be
									included namewise but the data will not be there. To get the content of the big files you need to download them individually from the web interface. This way you can get the file structure but the heavy loads only on demand!</p>
								<p>Download the small files as GIN archive(*.gin.zip). This is comparable to the situation above, however,
									you also get the history of the files and the possibility  to request the big  files via git-annex or the GIN-client.</p>
							</div>
							<div class="actions">
								<a class="ui positive button" href="{{$.RepoLink}}/archive/{{EscapePound $.BranchName}}.zip"><i class="octicon octicon-file-zip"></i> Download zip</a>
								<a class="ui positive button" href="{{$.RepoLink}}/archive/{{EscapePound $.BranchName}}.tar.gz"><i class="octicon octicon-file-zip"></i> Download tar.gz</a>
								<a class="ui positive button" href="{{$.RepoLink}}/archive/{{EscapePound $.BranchName}}.gin.zip"><i
									class="octicon octicon-file-zip"></i> Download GIN archive</a>
							</div>
						</div>

					</div>
				{{end}}
			</div>
		</div>
		{{if .IsViewFile}}
			{{template "repo/view_file" .}}
		{{else}}
			{{template "repo/view_list" .}}
		{{end}}
	</div>
</div>
{{template "base/footer" .}}
