{{/*
<html>
<body>
	<div>
*/}}
	</div>
	<footer>
		<nav class="navbar navbar-fixed-bottom navbar-default">
			<div class="container">
				<div class="row display-table">
					<div class="col-sm-1 display-cell"><a href="http://www.g-node.org" class="navbar-footer-brand-gin"></a></div>
					<div class="col-sm-6 display-cell">
						<ul class="list-inline">
							<li>© G-Node, 2016-2017</li>
							<li><a href="http://www.g-node.org/gin_terms">Terms of Use</a></li>
						</ul>
					</div>
					<div class="col-sm-6 display-cell">
						<ul class="list-inline pull-right">
							<li><a href="/info/about" class="">About</a></li>
							<li><a href="/info/imprint" class="">Imprint</a></li>
							<li><a href="/info/contact" class="">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</footer>
</body>

<!-- Third-party libraries -->
{{if .RequireHighlightJS}}
	<link rel="stylesheet" href="{{AppSubURL}}/plugins/highlight-9.6.0/github.css">
	<script src="{{AppSubURL}}/plugins/highlight-9.6.0/highlight.pack.js"></script>
{{end}}
{{if .RequireMinicolors}}
	<link rel="stylesheet" href="{{AppSubURL}}/plugins/jquery.minicolors-2.2.3/jquery.minicolors.css">
	<script src="{{AppSubURL}}/plugins/jquery.minicolors-2.2.3/jquery.minicolors.min.js"></script>
{{end}}
{{if .RequireDatetimepicker}}
	<link rel="stylesheet" href="{{AppSubURL}}/plugins/jquery.datetimepicker-2.4.5/jquery.datetimepicker.css">
	<script src="{{AppSubURL}}/plugins/jquery.datetimepicker-2.4.5/jquery.datetimepicker.js"></script>
{{end}}
{{if .RequireDropzone}}
	<link rel="stylesheet" href="{{AppSubURL}}/plugins/dropzone-4.2.0/dropzone.css">
	<script src="{{AppSubURL}}/plugins/dropzone-4.2.0/dropzone.js"></script>
{{end}}
{{if .RequireAutosize}}
	<script src="{{AppSubURL}}/plugins/autosize-4.0.2/autosize.min.js"></script>
{{end}}
<script src="{{AppSubURL}}/js/libs/emojify-1.1.0.min.js"></script>
<script src="{{AppSubURL}}/js/libs/clipboard-1.5.9.min.js"></script>

{{template "inject/footer" .}}
</html>
