.full.height {
  padding: 0;
  margin: 0 0 -200px 0;
  min-height: 100%;
}
.ui .text.red {
  color: #2854a4 !important;
}
.ui .text.red a {
  color: #2854a4 !important;
}
.ui .text.red a:hover {
  color: #428bca !important;
}
.ui .text.blue {
  color: #2854a4 !important;
}
footer {
  margin-top: 114px !important;
  height: 100px;
  background-color: white;
  border-top: 1px solid #d6d6d6;
  clear: both;
  width: 100%;
  color: #888888;
}
.home {
  padding-bottom: 200px;
}
.home .hero .octicon {
  color: #2854a4;
  font-size: 40px;
  width: 50px;
}
.home a {
  color: #2854a4;
}
.signup {
  padding-top: 15px;
  padding-bottom: 200px;
}
.install {
  padding-top: 45px;
  padding-bottom: 200px;
}
.repository {
  padding-top: 15px;
  padding-bottom: 200px;
}
.repository #clone-panel {
  margin-top: -8px;
  margin-left: 5px;
}
.organization {
  padding-top: 15px;
  padding-bottom: 200px;
}
.organization .head .ui.header .text {
  vertical-align: middle;
  font-size: 1.6rem;
  margin-left: 15px;
}
.organization .head .ui.header .ui.right {
  margin-top: 5px;
}
.organization.new.org form {
  margin: auto;
  width: 800px!important;
}
.organization.new.org form .ui.message {
  text-align: center;
}
.organization.new.org form .header {
  padding-left: 280px !important;
}
.organization.new.org form .inline.field > label {
  text-align: right;
  width: 250px !important;
  word-wrap: break-word;
}
.organization.new.org form .help {
  margin-left: 265px !important;
}
.organization.new.org form .optional .title {
  margin-left: 250px !important;
}
.organization.new.org form input,
.organization.new.org form textarea {
  width: 50% !important;
}
.organization.options input {
  min-width: 300px;
}
.organization.profile #org-avatar {
  width: 100px;
  height: 100px;
  margin-right: 15px;
}
.organization.profile #org-info .ui.header {
  font-size: 36px;
  margin-bottom: 0;
}
.organization.profile #org-info .desc {
  font-size: 16px;
  margin-bottom: 10px;
}
.organization.profile #org-info .meta .item {
  display: inline-block;
  margin-right: 10px;
}
.organization.profile #org-info .meta .item .icon {
  margin-right: 5px;
}
.organization.profile .ui.top.header .ui.right {
  margin-top: 0;
}
.organization.profile .teams .item {
  padding: 10px 15px;
}
.organization.teams .members .ui.avatar,
.organization.profile .members .ui.avatar {
  width: 48px;
  height: 48px;
  margin-right: 5px;
}
.organization.invite #invite-box {
  margin: auto;
  margin-top: 50px;
  width: 500px !important;
}
.organization.invite #invite-box #search-user-box input {
  margin-left: 0;
  width: 300px;
}
.organization.invite #invite-box .ui.button {
  margin-left: 5px;
  margin-top: -3px;
}
.organization.members .list .item {
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid #eee;
}
.organization.members .list .item .ui.avatar {
  width: 48px;
  height: 48px;
}
.organization.members .list .item .meta {
  line-height: 24px;
}
.organization.teams .detail .item {
  padding: 10px 15px;
}
.organization.teams .detail .item:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.organization.teams .repositories .item,
.organization.teams .members .item {
  padding: 10px 20px;
  line-height: 32px;
}
.organization.teams .repositories .item:not(:last-child),
.organization.teams .members .item:not(:last-child) {
  border-bottom: 1px solid #DDD;
}
.organization.teams .repositories .item .button,
.organization.teams .members .item .button {
  padding: 9px 10px;
}
.organization.teams #add-repo-form input,
.organization.teams #add-member-form input {
  margin-left: 0;
}
.organization.teams #add-repo-form .ui.button,
.organization.teams #add-member-form .ui.button {
  margin-left: 5px;
  margin-top: -3px;
}
.user:not(.icon) {
  padding-top: 15px;
  padding-bottom: 200px;
}
.dashboard {
  padding-top: 15px;
  padding-bottom: 200px;
}
.admin {
  padding-top: 15px;
  padding-bottom: 200px;
}
.explore {
  padding-top: 15px;
  padding-bottom: 200px;
}
.ginsubtitle {
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  font-size: 16px;
}
.supersmall {
  padding-left: 10px;
  font-size: 0.8em;
  text-align: left;
}
.leftspace {
  padding-left: 20px;
}
figure {
  float: right;
  max-width: 600px;
}
figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
figure figcaption {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  text-align: justify;
}
#cloudberry-view {
  margin-top: 14px;
}
.ui.codetab {
  padding: 0;
}
#file-buttons {
  padding-right: 5px;
}
.ginsubtitle {
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  font-size: 16px;
}
.supersmall {
  padding-left: 10px;
  font-size: 0.8em;
  text-align: left;
}
.leftspace {
  padding-left: 40px;
}
figure {
  float: right;
  max-width: 600px;
}
figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
figure figcaption {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  text-align: justify;
}
#cloudberry-view {
  margin-top: 14px;
}
.ui.codetab {
  padding: 0;
}
#file-buttons {
  padding-right: 5px;
}
.ui.segment.results.hide {
  z-index: 1000;
}
.gin.doi {
  float: left;
  background-color: #5b5b5b;
  color: white;
  border-top-left-radius: 0.28571429rem;
  border-bottom-left-radius: 0.28571429rem;
  padding: 0.833em 1em;
}
.gin.doinr {
  background-color: #2185D0;
  float: right;
  color: white;
  border-top-right-radius: 0.28571429rem;
  border-bottom-right-radius: 0.28571429rem;
  padding: 0.833em 1em;
}
.ui.image.label.nobg {
  background: none;
}
.ui.image.label.nobg > a {
  opacity: 1;
}
textarea#description {
  height: 5em;
  min-height: 5em;
}
.ui.loading.ginsearch .input > i.icon:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin: -0.64285714em 0 0 -0.64285714em;
  width: 1.28571429em;
  height: 1.28571429em;
  -webkit-animation: button-spin 0.6s linear;
  animation: button-spin 0.6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #767676 transparent transparent;
  border-style: solid;
  border-width: 0.2em;
  box-shadow: 0 0 0 1px transparent;
}
/*--------------
    Results
---------------*/
.ui.ginsearch > .results {
  display: none;
  position: absolute;
  top: 100%;
  left: 0%;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  white-space: normal;
  background: #FFFFFF;
  margin-top: 0.5em;
  width: 18em;
  border-radius: 0.28571429rem;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
  box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
  border: 1px solid #D4D4D5;
  z-index: 998;
}
.ui.ginsearch > .results > :first-child {
  border-radius: 0.28571429rem 0.28571429rem 0em 0em;
}
.ui.ginsearch > .results > :last-child {
  border-radius: 0em 0em 0.28571429rem 0.28571429rem;
}
/*--------------
    Result
---------------*/
.ui.ginsearch > .results .result {
  cursor: pointer;
  display: block;
  overflow: hidden;
  font-size: 1em;
  padding: 0.85714286em 1.14285714em;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.33;
  border-bottom: 1px solid rgba(34, 36, 38, 0.1);
}
.ui.ginsearch > .results .result:last-child {
  border-bottom: none !important;
}
/* Image */
.ui.ginsearch > .results .result .image {
  float: right;
  overflow: hidden;
  background: none;
  width: 5em;
  height: 3em;
  border-radius: 0.25em;
}
.ui.ginsearch > .results .result .image img {
  display: block;
  width: auto;
  height: 100%;
}
/*--------------
    Message
---------------*/
.ui.ginsearch > .results > .message {
  padding: 1em 1em;
}
.ui.ginsearch > .results > .message .header {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
}
.ui.ginsearch > .results > .message .description {
  margin-top: 0.25rem;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.87);
}
/* View All Results */
.ui.ginsearch > .results > .action {
  display: block;
  border-top: none;
  background: #F3F4F5;
  padding: 0.92857143em 1em;
  color: rgba(0, 0, 0, 0.87);
  font-weight: bold;
  text-align: center;
}
#file-buttons > a:first-child {
  border-top-left-radius: 0.28571429rem;
  border-bottom-left-radius: 0.28571429rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.textnode.focusable.whitespace {
  display: none !important;
}
.footericon {
  height: 35px;
  vertical-align: middle;
}
.footertext {
  font-size: 1rem;
  vertical-align: middle;
}
