<!-- Custom CSS overrides -->
<link rel="stylesheet" href="/css/custom.css">

{{if or .PageIsExploreRepositories (or .PageIsHome .PageIsWiki) }}
	<meta name="robots" content="nofollow"/>
{{else if .PageIsViewFiles }}
	<meta name="robots" content="noindex,nofollow"/>
{{else}}
	<meta name="robots" content="noindex,nofollow"/>
{{end}}

<!-- Front page cursive font -->
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

<!-- twitterish -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@gnode" />
<meta name="twitter:title" content="GIN" />
<meta name="twitter:description" content="Modern Research Data Management for Neuroscience"/>
<meta name="twitter:image" content="https://web.gin.g-node.org/img/favicon.png" />


<!-- markup editor libs -->
{{if or .IsYAML .IsJSON}}
	<script src="{{AppSubURL}}/js/libs/jsoneditor.min.js"></script>
	<link rel="stylesheet" href="{{AppSubURL}}/css/jsoneditor/jsoneditor.min.css"/>
	<script src="{{AppSubURL}}/js/libs/yaml.min.js"></script>
{{end}}

{{if .IsODML}}
	<script type="text/javascript" src="{{AppSubURL}}/plugins/xonomy/xonomy.js"></script>
	<link type="text/css" rel="stylesheet" href="{{AppSubURL}}/plugins/xonomy/xonomy.css"/>

	<script src="{{AppSubURL}}/js/libs/jstree.min.js"></script>
	<link rel="stylesheet" href="{{AppSubURL}}/css/jstree/jstree.css">
{{end}}

<!-- Cookie notice -->
{{if not .PageIsInstall}}
	<script src="{{AppSubURL}}/js/libs/js.cookie.js"></script>
	<div class="ui inline cookie nag">
		<span class="title">We use cookies to ensure you get the best experience on our website</span>
		<i class="nag close icon"></i>
	</div>
{{end}}
