<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{.Subject}}</title>
</head>

<body>
	<p>You have been added as a collaborator of repository: <code>{{.RepoName}}</code></p>
	<p>
		---
		<br>
		<i>Please do not reply to this email. This mailbox is not monitored. Click the link below to comment on the issue.</i>
		<br>
		<a href="{{.Link}}">View it on GIN</a>.
	</p>
</body>
</html>
