{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div class="logo">
				<img src="{{AppSubURL}}/img/favicon.png" />
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
					GIN
				</h1>
				<h2>Modern Research Data Management for Neuroscience</h2>
				<div class="ginsubtitle">...inspired by github, flavoured for science</div>
			</div>
		</div>
	</div>

	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-device-desktop"></i> Manage your research data
			</h1>
			<p class="large">
				Upload your data to private repositories.<br>
				Synchronize your data.<br>
				Securely access your data from anywhere.
			</p>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-mortar-board"></i> Share your data
			</h1>
			<p class="large">
				Collaborate with colleagues using access control.<br>
				Make your data public.<br>
				Make your data citable with the gin DOI service.
			</p>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-list-ordered"></i> Version your data
			</h1>
			<p class="large">
				When changing your files and uploading them to the server, the history is automatically kept, you can always go
				back to a previous version.
			</p>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-code"></i> Open Source
			</h1>
			<p class="large">
				Its based on open source projects such as <a href="https://git-scm.com/">git</a>, <a
				href="https://git-annex.branchable.com/">git-annex</a> and <a href="https://github.com/gogits/gogs">gogs</a>.
				Everything is freely availible as source.
				code.
				You can even set it up in your lab!
			</p>
		</div>
		<div class="sixteen wide center aligned centered column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-rocket"></i> <a href="/G-Node/Info/wiki">I want to know
				more!</a><i
				class="octicon octicon-rocket"></i>
			</h1>
		</div>
	</div>
</div>
	{{template "base/footer" .}}
