{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div class="logo">
				<img src="{{AppSubURL}}/img/favicon.png" />
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
					Gin
				</h1>
				<h2>Data management for the 21th century lab</h2>
				<div class="ginsubtitle">...it's like github but for science</div>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
