{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div class="logo">
				<img src="{{AppSubURL}}/img/favicon.png" />
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
					Gin
				</h1>
				<h2>Data management for the 21th century lab</h2>
				<div class="ginsubtitle">...inspired by github flavoured for science</div>
			</div>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-mortar-board"></i> Sharing of research data
			</h1>
			<p class="large">
				Collaborate with colleagues using access control.<br>
				Make your data citable with the gin DOI service. <br>
				Make your data public.

			</p>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-device-desktop"></i> Manage your data
			</h1>
			<p class="large">
				Upload your data to private repositories.<br>
				Securely access your data from anywhere.<br>
				Synchronize your data.
			</p>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-list-ordered"></i> Version your data
			</h1>
			<p class="large">
				When changing your files and uploading them to the server, the history is automatically kept, you can always go
				back to a previous version
			</p>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-code"></i> Open Source
			</h1>
			<p class="large">
				Its based on open source projects sucha s git, git-annex and gogs. Everything is freely availible as source
				code.
				You can even set it up in your lab!
			</p>
		</div>
		<div class="sixteen wide center aligned centered column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-rocket"></i> <a href="/G-Node/Info/wiki">I want to know
				more!</a><i
				class="octicon octicon-rocket"></i>
			</h1>
		</div>
	</div>
</div>
{{template "base/footer" .}}
