.ginsubtitle{
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  font-size: 16px;
}

.bmbf {
  width: 80px;
}

.supersmall {
  padding-left: 10px;
  font-size: 0.8em;
  text-align: left;
}

.leftspace {
  padding-left: 40px;
}

.gogssmall {
  height: 40px;
  align-content: center;
}

figure {
  float: right;
  max-width: 600px;
}
figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure figcaption {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  text-align: justify;
}

#cloudberry-view {
  margin-top: 14px;
}

.ui.codetab{
  padding: 0;
}

#file-buttons {
  padding-right: 5px;
}

.ginsubtitle{
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  font-size: 16px;
}

.bmbf {
  width: 80px;
}

.supersmall {
  padding-left: 10px;
  font-size: 0.8em;
  text-align: left;
}

.leftspace {
  padding-left: 40px;
}

.gogssmall {
  height: 40px;
  align-content: center;
}

figure {
  float: right;
  max-width: 600px;
}
figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure figcaption {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  text-align: justify;
}

#cloudberry-view {
  margin-top: 14px;
}

.ui.codetab{
  padding: 0;
}

#file-buttons {
  padding-right: 5px;
}

.ui.segment.results.hide {
  z-index: 1000;
}

.gin.doi {
  float: left;
  background-color: #5b5b5b;
  color: white;
  border-top-left-radius: .28571429rem;
  border-bottom-left-radius: .28571429rem;
  padding: .833em 1em;
}

.gin.doinr {
    background-color: #2185D0;
    float: right;
    color: white;
    border-top-right-radius: .28571429rem;
    border-bottom-right-radius: .28571429rem;
    padding: .833em 1em;
}

.ui.image.label.nobg {
 background: none;
}

.ui.image.label.nobg>a {
 opacity:1;
}

textarea#description {
    height: 5em;
    min-height: 5em;
}

