<div id = "datacite-view" class="tab-size-8">
	<table class="ui fixed single line table">
		<thead>
			<tr>
				<th class="three wide">
					<i class="octicon octicon-squirrel"></i>
					<strong>dmp.json</strong>
				</th>
				<th class="fourteen wide">
				</th>
			</tr>
		</thead>
		<tbody>
            {{ range $i, $val := .DOIInfo.Researches}}
                <tr>
                    <td>Research[{{ $i }}]</td>
                </tr>
                <tr>
                    <td style="padding-left: 5%">CaughtData</td>
                    <td>
                        {{ $val.CaughtData }}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 5%">SimulationData</td>
                    <td>
                        {{ $val.SimulationData }}
                    </td>
                </tr>
            {{end}}
		</tbody>
	</table>
</div>
</div>
