<div id = "datacite-view" class="tab-size-8">
	<table class="ui fixed single line table">
		<thead>
			<tr>
				<th class="three wide">
					<!-- <i class="octicon octicon-squirrel"></i> -->
					<strong>dmp.json ({{ .DOIInfo.Schema }})</strong>
				</th>
				<th class="fourteen wide">
				</th>
			</tr>
		</thead>
		<tbody>
        {{ if eq .DOIInfo.Schema "METI" }}
            <tr>
                <td>区別</td>
                <td>{{ .DOIInfo.DmpType }}</td>
            </tr>
            <tr>
                <td>契約件名</td>
                <td>{{ .DOIInfo.AgreementTitle }}</td>
            </tr>
            <tr>
                <td>契約締結日</td>
                <td>{{ .DOIInfo.AgreementDate }}</td>
            </tr>
            <tr>
                <td>提出日</td>
                <td>{{ .DOIInfo.SubmitDate }}</td>
            </tr>
            <tr>
                <td>法人名等</td>
                <td>{{ .DOIInfo.CorporateName }}</td>
            </tr>

            {{ range $val := .DOIInfo.Researches}}
                <tr>
                    <td>研究データ</td>
                </tr>
                <tr>
                    <td style="padding-left: 5%">データNo.</td>
                    <td>
                        {{ $val.Index }}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 5%">データ名称</td>
                    <td>
                        {{ $val.Title }}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 5%">説明</td>
                    <td>{{ $val.Description }}</td>
                </tr>
                <tr>
                    <td style="padding-left: 5%">管理者</td>
                    <td>{{ $val.Manager }}</td>
                </tr>
                <tr>
                    <td style="padding-left: 5%">分類</td>
                    <td>{{ $val.DataType }}</td>
                </tr>
                <tr>
                    <td style="padding-left: 5%">公開レベル</td>
                    <td>{{ $val.ReleaseLevel}}</td>
                </tr>
                <tr>
                    <td style="padding-left: 5%">秘匿理由</td>
                    <td>{{ $val.ConcealReason }}</td>
                </tr>

                <!-- TODO make IF-THEN below -->
                <tr>
                    <td style="padding-left: 5%">秘匿期間</td>
                    <td>{{ $val.ConcealPeriod }}</td>
                </tr>
                <tr>
                    <td style="padding-left: 5%">取得者</td>
                    <td>{{ $val.Acquirer }}</td>
                </tr>
                <tr>
                    <td style="padding-left: 5%">取得方法</td>
                    <td>{{ $val.AcquireMethod }}</td>
                </tr>
            {{ end }}

        {{ else if eq .DOIInfo.Schema "AMED" }}
            <tr>
                <td>作成日</td>
                <td>{{.DOIInfo.CreateDate}}</td>
            </tr>
            <tr>
                <td>プロジェクト情報</td>
            </tr>
                <tr>
                    <td style="padding-left: 5%">事業年度</td>
                    <td style="padding-left: 5%">{{.DOIInfo.Project.FiscalYear}}</td>
                </tr>
                <tr>
                    <td style="padding-left: 5%">事業名</td>
                    <td style="padding-left: 5%">{{.DOIInfo.Project.Title}}</td>
                </tr>
                <tr>
                    <td style="padding-left: 5%">研究開発課題名</td>
                    <td style="padding-left: 5%">{{.DOIInfo.Project.ProblemName}}</td>
                </tr>
                <tr>
                    <td style="padding-left: 5%">研究開発代表者</td>
                </tr>
                    <tr>
                        <td style="padding-left: 10%">所属</td>
                        <td style="padding-left: 10%">{{.DOIInfo.Project.Representative.BelongTo}}</td>
                    </tr>
                    <tr>
                        <td style="padding-left: 10%">役職</td>
                        <td style="padding-left: 10%">{{.DOIInfo.Project.Representative.Post}}</td>
                    </tr>
                    <tr>
                        <td style="padding-left: 10%">氏名</td>
                        <td style="padding-left: 10%">{{.DOIInfo.Project.Representative.Name}}</td>
                    </tr>
                <tr>
                    <td>整理・体系化（データベース化）され登録の必要がある情報の有無</td>
                    <td>{{.DOIInfo.Required.HasRegistNecessity}}</td>
                </tr>
                <tr>
                    <td>登録の必要がない理由</td>
                    <td>{{.DOIInfo.Required.NoRegistReason}}</td>
                </tr>
                <tr>
                    <td>研究開発データの説明</td>
                    <td>{{.DOIInfo.Researches.Description}}</td>
                </tr>

                {{ range $val := .DOIInfo.Researches.Data}}
                <tr>
                    <td>研究データ</td>
                </tr>
                <tr>
                    <td>データ群の名称</td>
                    <td>{{$val.Title}}</td>
                </tr>
                <tr>
                    <td>公開・提供方針</td>
                    <td>{{$val.ReleasePolicy}}</td>
                </tr>
                <tr>
                    <td>非公開の理由とその期間</td>
                    <td>{{$val.ConcealReason}}</td>
                </tr>
                <tr>
                    <td>リポジトリ（保存場所）の種別</td>
                    <td>{{$val.RepositoryType}}</td>
                </tr>
                <tr>
                    <td>リポジトリの名称</td>
                    <td>{{$val.RepositoryName}}</td>
                </tr>
                <tr>
                    <td>想定データ量</td>
                    <td>{{$val.DataAmount}}</td>
                </tr>

                {{ end }}

        {{ else if eq .DOIInfo.Schema "JST" }}
            <tr>
                <td>title</td>
                <td>this is title(JST)</td>
            </tr>
        {{ end }}
		</tbody>
	</table>
</div>
</div>
