<div class="ui blob-list">
	{{range .Blobs}}
	<div class="ui segment">
		<div class="ui header">
			<div>
				<a href="{{AppSubURL}}/{{.Source.GinRepoName}}">
					<span class="octicon octicon-repo"></span>
					{{.Source.GinRepoName}}
				</a>
				<a href="{{AppSubURL}}/{{.Source.GinRepoName}}/src/{{.Source.FirstCommit}}/{{.Source.Path}}">
					<span class="octicon octicon-file"></span>
					{{.Source.Path}}
				</a>
				<div class="ui right">
					<i class="heartbeat icon"></i>
					{{.Score}}
				</div>
			</div>
			{{if .Highlight}}
			<div class="ui horizontal divider">
				hits
			</div>
		</div>
		<div class="ui divided list">
			{{range .Highlight.Content}}
			<div class="item">
				{{. | Str2html}}
			</div>
			{{end}}
			{{end}}
		</div>
	</div>
	<div class="ui divider"></div>
	{{end}}
</div>



