{{template "base/head" .}}
<div class="explore data">
	<div class="ui container">
		<div class="ui grid">
			{{template "explore/navbar" .}}
			<div class="twelve wide column content">
				{{template "explore/search" .}}
				{{template "explore/blob_list" .}}
				{{template "explore/page" .}}
			</div>
		</div>
	</div>
</div>
	{{template "base/footer" .}}
