<form class="ui form">
	<div class="ui fluid action input">
		<input name="q" value="{{.Keyword}}" placeholder="{{.i18n.Tr " explore.search"}}..." autofocus>
		<select class="ui dropdown" name="stype" id="search-type-select">
			<option value="0" {{if eq .opsel 0}}selected{{end}}>Match</option>
			<option value="1" {{if eq .opsel 1}}selected{{end}}>Fuzzy Term</option>
			<option value="2" {{if eq .opsel 2}}selected{{end}}>Wildcard Term</option>
			<option value="3" {{if eq .opsel 3}}selected{{end}}>Querry String</option>
		</select>
		<button class="ui blue button">{{.i18n.Tr "explore.search"}}</button>
	</div>
</form>
<div class="ui divider"></div>
